html, body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 1px;
    &.blue-theme { background-color: #e3f2fd; }
    &.green-theme { background-color: #e8f5e8; }
    &.red-theme { background-color: #ffebee; }
}
body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            display: inline;
            margin-right: 15px;
        }
        a {
            text-decoration: none;
            color: #333;
            font-size: 24px;
            font-weight: bold;
            &:hover {
                color: #0066cc;
            }
        }
    }
    h1 {
        font-size: 50px;
        color: #222;
    }
    #about-us-grid {
        display: grid;
        grid-template-columns: 450px 50px 15px 1fr;
        grid-template-rows: 100px 50px 240px 50px 200px 50px 250px;
        gap: 20px;
        margin-top: 20px;
        img {
            margin-top: 50px;
            width: 750px;
            height: auto;
            border-radius: 40px;
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }
        h2 {
            font-size: 48px;
            color: #222;
        }
        h3{
            font-size: 30px;
            color: #333;
        }
        #Who {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
        #Where{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
        }
        #More{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
        }


        p {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }
        #p1 {
            grid-row: 3 / 4;
        }
        #p2 {
            grid-row: 5 / 6;
        }
        #p3 {
            grid-row: 7 / 8;
        }
    }
}
