<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <div id="about-us-grid">
        <h2>Hi, I'm Ash Jones!</h2>
        <img src="/images/ashglasses.jpg" alt="Profile Picture of Ash Jones">
        <h3 id="Who">Who Am I?:</h3>
        <p id="p1">A creative designer and every day person from Maricopa, Arizona who you can find doing all sorts of things from practicing sick drum beats to being knees deep in lines of code debugging every last error that comes my way. I love video games, voice acting, and generally all sorts of art mediums while also holding on to some hobbies of mine like baking for example. I may be a busy body, but I like to think that my bubbly, down-to-earth personality makes up for all the noise surrounding me. It's nice to meet you all!</p>
        <h3 id="Where">Where I'm at Currently:</h3>
        <p id="p2">I'm a Junior taking on a Bachelors in Software Engineering at BYU-I! I hope to take the skills and know-how I've managed to gather together and use them for game design and development, be it my own or some huge project under a big company! Additionally, I think it would be awesome to get a SWE internship with Mojang for the work they do on Minecraft, or something similar.</p>
        <h3 id="More">Want to Know More?:</h3>
        <p id="p3">Some of my hobbies include and most likely aren't limited to sketching and drawing, cooking and baking, singing and dancing, playing video games and watching anime, reading and writing, and drumming and designing! Oh! My interests also include various niche subjects such as illustration and animation, 3D Model rigging, robotics, and streaming software. 
            
        Overall, if it's got anything to do with being creative or artsy, you can probably find me trying to do something with it.</p>
    </div>
</main>
<%- include('partials/footer') %>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ash Jones | About Us</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ash Jones | About Me!</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <div id="about-us-grid">
        <h2>Hi, I'm Ash Jones!</h2>
        <img src="/images/ashglasses.jpg" alt="Profile Picture of Ash Jones">
        <h3 id="Who">Who Am I?:</h3>
        <p id="p1">A creative designer and every day person from Maricopa, Arizona who you can find doing all sorts of things from practicing sick drum beats to being knees deep in lines of code debugging every last error that comes my way. I love video games, voice acting, and generally all sorts of art mediums while also holding on to some hobbies of mine like baking for example. I may be a busy body, but I like to think that my bubbly, down-to-earth personality makes up for all the noise surrounding me. It's nice to meet you all!</p>
        <h3 id="Where">Where I'm at Currently:</h3>
        <p id="p2">I'm a Junior taking on a Bachelors in Software Engineering at BYU-I! I hope to take the skills and know-how I've managed to gather together and use them for game design and development, be it my own or some huge project under a big company! Additionally, I think it would be awesome to get a SWE internship with Mojang for the work they do on Minecraft, or something similar.</p>
        <h3 id="More">Want to Know More?:</h3>
        <p id="p3">Some of my hobbies include and most likely aren't limited to sketching and drawing, cooking and baking, singing and dancing, playing video games and watching anime, reading and writing, and drumming and designing! Oh! My interests also include various niche subjects such as illustration and animation, 3D Model rigging, robotics, and streaming software. 
            
        Overall, if it's got anything to do with being creative or artsy, you can probably find me trying to do something with it.</p>
    </div> 
</body>
</html>

 -->