<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcome to my Express application! This site demonstrates the power of templating engines and is also my Home page!</p>
    <img src="https://picsum.photos/600/400" alt="Random image">
</main>
<%- include('partials/footer') %>