<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <p>Select various products from a beautiful selection provided by us!</p>
</main>
<%- include('partials/footer') %>

<!-- <p>Select various products from a beautiful selection provided by us!</p> -->