        <nav>
            <ul>
                <li><a href=<%= links.homepage %>>Home</a></li>
                <li><a href=<%= links.about %>>About</a></li>
                <li><a href=<%= links.products %>>Products</a></li>
            </ul>
        </nav>